{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Signin</title>

    <link rel="stylesheet" href="{% static 'css/account-styling/signin.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

</head>

<body>

<main class="main">
    <div class="container">

        <div class="login-img">
            <img class="e-img" src="{% static 'images/store.png' %}" alt="IMG">
        </div>

        <div class="login">
            <div class="signin-head">
                <h2>Login</h2>
                <p class="register-here">If you don't have an account register <a href="{% url 'register' %}">Register Here !</a></p>
            </div>

            <div class="form-section">
                <form action="" method="POST">
                    <div>
                        <label for="Email">Email</label>
                        <input type="email" name="email" id="email" placeholder="Enter your email address">
                    </div>
                    <div>
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" placeholder="Enter your password">
                    <div class="remember-wrap">
                        <div>
                            <input type="checkbox" id="remember"><label for="remember">Remember me</label>
                        </div>
                        <div class="forget-password">
                            <a href="#">Forgot Password?</a>
                        </div>
                    </div>

                    </div>
                </form>
                <button class="login-btn" type="submit">Login &rarr;</button>
            </div>
        </div>
    </div>
</main>

</body>
</html>