asgiref==3.11.1
category==0.0.3
certifi==2026.7.22
charset-normalizer==3.5.1
Django==6.0.6
django-categories==2.0.0
django-js-asset==4.0.1
django-mptt==0.18.0
idna==3.19
numpy==2.5.1
parts==2.1.0
pillow==12.3.0
products==2.0.1
psycopg==3.3.4
psycopg-binary==3.3.4
psycopg2-binary==2.9.12
python-decouple==3.8
python-dotenv==1.2.2
razorpay==2.0.1
requests==2.34.2
sqlparse==0.5.5
urllib3==2.7.0
