*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Wix Madefor Text", sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.navbar .dash-left{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.dash-left a{
    color: #4ac1f7;
    font-size: 2rem;
    margin-top: 0.5rem;
    /*border: 1px solid #1b1b1b;*/
}

.navbar .dash-right{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.dash-right img{
    /*border: 1px solid #1f6073;*/
    text-decoration: none;
    border-radius: 100%;
    width: 30px;
}

.dash-right a{
    text-decoration: none;
}