{% extends "home/navbar-layout.html" %}
{% load static %}

{% block content %}
    <section class="wishlist">

    <div class="container">

        <div class="wishlist-header">
            <div>
                <h1>My Wishlist</h1>
                <p>There are {{ quantity }} items in you Wishlist that you would like to buy</p>
            </div>

            <button class="clear-btn">
                Clear Wishlist
            </button>
        </div>

        <div class="wishlist-items">
            {% for item in wishlist_items %}
                    <div class="wishlist-card">
                        <div class="products-image">
                            <img src="{{ item.products.image.url }}" alt="">
                        </div>

                        <div class="product-info">

                            <h2>{{ item.products.name }}</h2>

                            <p class="category">
                                {{ item.products.brand }}
                            </p>

                            <div class="rating">
                                {% for i in "12345" %}
                                    {% if forloop.counter <= item.products.rating %}
                                        ★
                                    {% else %}
                                        ☆
                                    {% endif %}
                                {% endfor %} 
                                <span>{{ item.products.review.count }}</span>
                            </div>

                            <div class="price">
                                ${{item.products.price}}
                            </div>

                            <span class="stock in-stock">
                                In Stock {{item.products.stock}}
                            </span>

                        </div>

                        <div class="actions">

                            <button class="cart-btn">
                                <i class="fa-solid fa-cart-shopping"></i>
                                Add to Cart
                            </button>

                            <button class="delete-btn">
                                Delete
                            </button>

                        </div>

                    </div>
                   {% empty %}
                        <p>There is no Wishlist currently added.</p>
            {% endfor %}

        </div>

    </div>
</section>

{% include "home/footer-layout.html" %}
{% endblock content %}
