*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Wix Madefor Text", sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(160deg, #1b4f5e 0%, #1a3a45 100%);
    background-attachment: fixed;
    flex-wrap:wrap;
    min-width: 450px;
}

.reset-password-form{
    /*border: 1px solid #11354a;*/
    padding: 5rem;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 1rem 0.2rem #1a3a45;
}

.password-box-1 p,
.password-box-2 p{
    color: #4f676e;
    font-size: 0.8rem;
    margin-top: 0.6rem;
}

.password-box-1 span,
.password-box-2 span{
    background-color: #0e4d61;
    border-radius: 100%;
    padding: 0.1rem;
    font-size: 0.6rem;
}

.reset-password-form h1{
    background: linear-gradient(#61bce3, #2a7fac, #257a8f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.reset-password-form form{
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    min-width: 380px;
}

.reset-password-form label{
    display: block;
    margin-bottom:0.5rem ;
    color: #1f6073;
}

.reset-password-form input{
    background: #214855;
    border: none;
    outline: none;
    width: 100%;
    padding: 1.1rem 3rem;
}

.reset-password-form input[type=password]{
    padding-left:1rem ;
    color: #1f6073;
}

.submit-or-cancel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.submit-or-cancel a{
    padding: 1rem 3rem;
    /*border: none;*/
    background: transparent;
    border: 1px solid #184957;
    text-decoration: none;
    color: #2c859e;
    border-radius: 0.8rem;
}

.reset-password-form button{
    /*display: block;*/
    /*margin: 0 auto;*/
    padding: 1rem 3rem;
    border: none;
    background: linear-gradient(#61bce3, #2a7fac, #257a8f);
    border-radius: 0.8rem;
    font-size: 1rem;
    cursor: pointer;
}