*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Wix Madefor Text", sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(160deg, #1b4f5e 0%, #1a3a45 100%);
    background-attachment: fixed;
}

.reset-password-form{
    border: 1px solid #ffffff;
    padding: 10rem;
}

.reset-password-form form{
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.reset-password-form label{
    display: block;
    margin-bottom:0.5rem ;
    color: #1f6073;
}

.reset-password-form input{
    background: #214855;
    border: none;
    outline: none;
    width: 110%;
    padding: 1.1rem 3rem;
}

.reset-password-form input[type=password]{
    padding-left:1rem ;
    color: #1f6073;
}

.reset-password-form button{
    display: block;
    margin: 0 auto;
    padding: 1.1rem 3rem;
    border: none;
    background: linear-gradient(#61bce3, #2a7fac, #257a8f);
}