*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Wix Madefor Text", sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(160deg, #1b4f5e 0%, #1a3a45 100%);
    background-attachment: fixed;
}

.reset-password-form{
    border: 1px solid #ffffff;
}

.reset-password-form label{
    display: block;
}