* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Wix Madefor Text", sans-serif;
    background: linear-gradient(160deg, #1b4f5e 0%, #1a3a45 100%);
    background-attachment: fixed;
}

.main {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.login {
    width: 50%;
    min-width: 450px;
    flex: 1 1 450px;
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-img {
    width: 50%;
    flex: 1 1 450px;
    min-width: 450px;
    /*background: linear-gradient(160deg, #1b4f5e 0%, #1a3a45 100%);*/
    /*padding: 11.7rem 2rem;*/
    padding: 2rem;
}


.login-img img {
    width: 100%;
    height: 100%;
    box-shadow: 0 0.2rem 1rem 0.2rem #1a3a45;
}


.signin-head h2{
    font-size: 2.5rem;
    line-height: 2;
    background: linear-gradient(#61bce3, #2a7fac, #257a8f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text
}

.signin-head{
    background: linear-gradient(#b0c0c6, #d3d8da, #e4dddd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text
}

.register-here a{
    text-decoration: none;
    background: linear-gradient(#61bce3, #2a7fac, #257a8f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.form-section form {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.form-section{
    margin-top: 5rem;
}

.form-section label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #2d88b5;
}

.form-section input {
    display: block;
    width: 100%;
    border: none;
    background: none;
    border-bottom: 2px solid #408097;
    outline: none;
    padding: 8px 0;
    font-size: 1rem;
    transition: border-bottom-color 0.5s ease;
}

.form-section input::placeholder{
    color: #cbcecf;
}

.form-section input::placeholder{
    color: #859ea3;
}
.form-section input:focus{
    border-bottom-color: #5fbbe1;
}

.remember-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.remember-wrap label{
    display: inline !important;
}

.remember-wrap input {
    margin-right: 0.5rem;
    display: inline !important;
    height: 1.2rem;
    width: 1.2rem;
    border: none !important;
    outline: none;
    cursor: pointer;
    font-size: 2.4rem;
    vertical-align: middle;
}

.forget-password a{
    text-decoration: none;
    background: linear-gradient(#61bce3, #2a7fac, #257a8f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.login-btn {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 3.4rem;
    border: none;
    background: linear-gradient(#61bce3, #2a7fac, #257a8f);
    padding: 0.8rem 1rem;
    border-radius: 3rem;
    transition: all 0.3s;
    font-size: 1.2rem;
    width: 80%;
}

.login-btn:hover{
    background: linear-gradient(#459bbd, #17678a, #083d4c);
    color: #76c3da;
    transform: scale(1.1);
    box-shadow: 0 0.2rem 1rem 0.2rem #182a2e;
}