{% extends "dashboard/navbar-layout.html" %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/dashboard/dashboard.css' %}">
</head>

<main>
    <section class="container-1">
        <div class="admin-view">
            <div class="welcome-page">
                <h1>Welcome back Admin</h1>
                <p>Here is what happening with your store today</p>
            </div>

            <div class="computer-img">
                <img src="{% static 'images/laptop.png' %}" alt="pc">
            </div>
        </div>
    </section>

    <section>

        <div class="container">

        <div class="card-1">
            <h5>Sales Overview</h5>
            <canvas id="salesChart"></canvas>
        </div>

        <div class="card-2">
            <h5>Order Status</h5>
            <canvas id="orderStatusChart"></canvas>
        </div>
        </div>
    </section>
</main>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock content %}
